@mixin animation($name, $time, $function, $count) {
  -webkit-animation: $name $time $function $count; /* Safari 4+ */
  -moz-animation: $name $time $function $count; /* Fx 5+ */
  -o-animation: $name $time $function $count; /* Opera 12+ */
  animation: $name $time $function $count; /* IE 10+, Fx 29+ */
}
@mixin transition($elem, $time, $function) {
  transition: $elem $time $function;
  -o-transition: $elem $time $function;
  -ms-transition: $elem $time $function;
  -moz-transition: $elem $time $function;
  -webkit-transition: $elem $time $function;
}
/* grid */
@mixin grid($count, $margin-right, $margin-bottom, $padding) {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  .coloum {
    margin-right: $margin-right;
    margin-bottom: $margin-bottom;
    padding: $padding;
    -webkit-box-flex: 0;
    -ms-flex: 0 0 ((100% - (($count - 1) * $margin-right)) / $count);
    flex: 0 0 ((100% - (($count - 1) * $margin-right)) / $count);
    max-width: ((100% - (($count - 1) * $margin-right)) / $count);
    &:nth-child(#{$count}n) {
      margin-right: 0;
    }
  }
}
